In [12]:
import sklearn as sk
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

In [27]:
X = pd.read_csv('~/Datas/KaggleHouse/X_train.csv').to_numpy()
y = pd.read_csv('~/Datas/KaggleHouse/Y_train.csv').to_numpy()
X_final = pd.read_csv('~/Datas/KaggleHouse/X_test.csv').to_numpy()
Id = pd.read_csv('~/Datas/KaggleHouse/Id.csv',header=None,names=['Id'])

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=True)

In [30]:
def polyFeat(arr,deg):
    polynomial_features = PolynomialFeatures(degree=deg)
    return polynomial_features.fit_transform(arr)

In [31]:
model = []
for deg in range(2):
    X_train_poly = polyFeat(X_train,deg)
    X_test_poly = polyFeat(X_test,deg)
#     polynomial_features = PolynomialFeatures(degree=deg)
#     X_train_poly = polynomial_features.fit_transform(X_train)
#     X_test_poly = polynomial_features.fit_transform(X_test)
#     X_final_poly = polynomial_features.fit_transform(X_final)
    model.append(LinearRegression())
    reg = model[deg].fit(X_train_poly, y_train)
    y_poly_pred = model[deg].predict(X_test_poly)
    mse = mean_squared_error(y_test, y_poly_pred)
    print("Mean Squared Error: {} for {} Degree".format(mse,deg))

Mean Squared Error: 5382737922.108862 for 0 Degree
Mean Squared Error: 696983514.9631437 for 1 Degree
Mean Squared Error: 16799126151.963182 for 2 Degree

In [40]:
X_final_poly = polyFeat(X_final,1)
y_final_pred = model[1].predict(X_final_poly)

(1459, 1)

In [42]:
y_df = pd.DataFrame(y_final_pred)
y_final_pred

array([[115579.37058319],
       [150701.04705679],
       [182615.35036754],
       ...,
       [180035.38195221],
       [111713.52699871],
       [226879.34665032]])

In [43]:
y_df = y_df.rename(columns={0:'SalePrice'})

In [46]:
out = Id.copy()
out = out.join(y_df)
# out.index += 1

In [47]:
out

        Id      SalePrice
1     1461  115579.370583
2     1462  150701.047057
3     1463  182615.350368
4     1464  197681.405891
5     1465  199083.192371
...    ...            ...
1455  2915   85055.682454
1456  2916   65979.312953
1457  2917  180035.381952
1458  2918  111713.526999
1459  2919  226879.346650

[1459 rows x 2 columns]

In [49]:
out.to_csv(r'~/Datas/KaggleHouse/out.csv',index = False)